:host {
  display: flex;
}

.message {
  max-width: 75%;
  background-color: lightgoldenrodyellow;

  &.mine {
    background-color: lightcyan;
    margin-left: auto;
  }

  &.selected {
    background-color: lightblue;
  }

  .message-sender {
    font-size: small;
  }
}
